/*Variables*/

/*---------------SCSS for colors---------------*/

$primaryColor: #FF6835;
$footer-bg-color: #E6E6E6;


/*---------------SCSS for font-family---------------*/
$defaultFontFamily: Arial, sans-serif;
$normal: 400;
$heavy: 700;

/*---------------SCSS for device size---------------*/
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
